body {
  font-size: .14rem;
}

h1 {
  width: 6.4rem;
  padding: .05rem .1rem;
  font-size: .64rem;
  border: .01rem solid #ccc;
  background: #f9f9f9;
}

@media screen and (min-width: 768px;) {
  h1 {
    width: 9.6rem;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }

  50% {
    -webkit-transform: rotate(180deg) scale(.6);
    transform: rotate(180deg) scale(.6);
  }

  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}